.navbarSm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(211, 211, 211);
    /* padding: 20px 10px; */
    padding: 0px;
    margin: 0px;
}

.toggleMenu{
    cursor: pointer;
    
}

.right{
    position: relative;
    padding-right: 20px;
}

.items{
    position: absolute;
    right: 0px;
    top: -20px;
    background-color: white;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
    animation: slide 2s forwards;
}

.closeBtn{
    cursor: pointer;
}
.toggleMenu{
    position: relative;
    z-index: 998;
}



.loginBtn, .registerBtn {
    font-size: 15px;
    color: #c1c1c1;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    /* text-transform: uppercase; */
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-left: 5px;
  }
  

  .loginBtn:focus, .registerBtn:focus {
  color: black;
}
.loginBtn:hover, .registerBtn:hover {
  color: black;
}

.loginBtn:focus:after {
  width: 100%;
  left: 0%;
}
.registerBtn:hover:after {
  width: 100%;
  left: 0%;
}

.registerBtn:after, .loginBtn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: gray;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.items > li{
    padding-top: 2rem;
    font-size: larger;
    margin-right: 2rem;
    color: rgb(90, 90, 90);
}



.midWrapper{
    display: flex;
}

.mid{
    display: flex;
}

.iconItem{
    position: relative;
    margin-right: 15px;
  }

.cartItemNum{
    background-color: rgb(0, 132, 255);
    position: absolute;
    right: -10px;
    top: 0px;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-small;
  }


  
  .animate {
    animation: slide 0.5s forwards;
  }
  
  @keyframes toggleOn {
    0% {
      right: 70vw;
    }
    100% {
      right: 0;
    }
  }

  


  /* Mobile styles */
  @media (max-width: 768px) {
    .navbarCollapse {
      display: block;
    }
    .navbarNav {
      flex-direction: row;
    }
    .navItem {
      margin-bottom: 0;
    }
    .navLink {
      /* margin-right: 1rem; */
    }
  }