/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    border-bottom: 1px solid #ddd;
    height: 65px;
    color: rgb(211, 211, 211);
  }
  
  .left {
    flex-basis: 20%;
    position: relative;
  }
  
  .logo {
    margin-right: 1rem;
    font-size: larger;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
  }
  
  .middle {
    flex-basis: 60%;
  }
  
  .navLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navItem {
    margin-right: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .navLink {
    /* color: #333; */
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .navLink:hover {
    color: #666;
  }
  
  .right {
    flex-basis: 20%;
    text-align: right;
  }
  
  .icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .iconItem {
    margin-right: 20px;
  }
  
  .iconLink {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .iconLink:hover {
    color: #666;
  }
  
  .fa-user, .fa-shopping-cart, .fa-list-alt {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .iconItem{
    position: relative;
  }

  .cartItemNum{
    background-color: rgb(0, 132, 255);
    position: absolute;
    right: -10px;
    top: 0px;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-small;
  }

  .rightBtns{
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .loginBtn, .registerBtn{
    /* font-size: 18px; */
    /* color: rgb(61, 61, 61); */

    /* padding: 3px;
    border: none;
    border-bottom: 1px solid rgb(61, 61, 61);
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px; */
  }

  .loginBtn, .registerBtn {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 15px;
    color: #c1c1c1;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    /* text-transform: uppercase; */
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-left: 5px;
  }
  

  .loginBtn:focus, .registerBtn:focus {
  color: rgb(97, 97, 97);
}
.loginBtn:hover, .registerBtn:hover {
  color: rgb(97, 97, 97);
}

/* .loginBtn:focus:after {
  width: 100%;
  left: 0%;
}
.registerBtn:hover:after {
  width: 100%;
  left: 0%;
}

.registerBtn:after, .loginBtn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: gray;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
} */

.smallbar{
  display: none;
}



@media only screen and (max-width: 800px){
  .middle{
    display: none;
  }
  .right{
    display: none;
  }

  .middleSm{
    display: block;
  }

  .smallbar{
    display: block;
    
  }

  .navbar{
    padding: 0px;
  }
 
  .left{
    padding-left: 20px;
  }
  
  /* .navbar{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  
}