.mainWrapper{
  display: flex;
  flex-direction: row;
}

.left{
  flex: 1;
}
.right{
  flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem
  }
  
  .headingContainer {
    /* flex-basis: 30%;
    height: 100vh; */
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subheading {
    font-size: 16px;
    color: #666;
  }
  
  .formContainer {
    /* flex-basis: 60%; */
    width: 90%;
    /* background-color: aqua; */
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input,.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .textarea {
    height: 100px;
  }
  
  .button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #444;
  }


  .left{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    /* padding: 5rem; */
    /* padding-left: 7rem; */
  }

  .details > li{
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
  }
  

  .details > li > h4{
    margin-right: 10px;
  }
  

  .smedia{
    display: flex;
    flex-direction: row;
  }

  .top{
    width: 100%;
  }

  .bottom{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: flex-start; */
    /* background-color: red; */
    /* float: left; */
  }

  .smedia{
    margin-top: 1rem;
    
  }
  .smedia > a{
    margin-right: 1rem;
    cursor: pointer;
  }

  .headingContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 700px){
    .mainWrapper{
      flex-direction: column;
    }

    .left{
      /* padding: 10% 0px 0px 20%; */
    }

    .container, .right,.headingContainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .smedia{
      display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    }

    .bottom > h2{
      text-align: center;
    }

    .top>h2{
      text-align: center;
    }

    .details{
      /* padding-left: 2rem; */
    }

    .details > li{
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }

