.mainWrapper{
  display: flex;
  flex-direction: row;
}

.left{
  flex: 1;
}
.right{
  flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem
  }
  
  .headingContainer {
    /* flex-basis: 30%;
    height: 100vh; */
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subheading {
    font-size: 16px;
    color: #666;
  }
  
  .formContainer {
    /* flex-basis: 60%; */
    width: 90%;
    /* background-color: aqua; */
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input,.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .textarea {
    height: 100px;
  }
  
  .button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #444;
  }


  .left{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding-left: 7rem;
  }

  .details > li{
    display: flex;
    margin-top: 1.5rem;
  }
  

  .details > li > h4{
    margin-right: 10px;
  }
  

  .smedia{
    display: flex;
    flex-direction: row;
  }

  .bottom{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    float: left;
  }

  .smedia{
    margin-top: 1rem;
  }
  .smedia > a{
    margin-right: 1rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 700px){
    .right{
      display: none;
    }
  
    .middle{
      display: none;
    }
  }

