.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listItem{
    display: flex;
}

.list{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: space-evenly;
}

.prod{
    padding: 2rem 0px;
    position: relative;
}

.prodTitle{
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.prodImg{
    object-fit: cover;
}

.prodPrice{
    font-weight: 500;
    color: gray;
}