.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .pendingOrdersSection {
    margin-bottom: 40px;
  }
  
  .sectionHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .orderList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .orderItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .orderItem:last-child {
    border-bottom: none;
  }
  
  .orderId {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .orderStatus {
    color: #666;
    margin-right: 10px;
  }
  
  .orderDate {
    color: #999;
  }

  .productImage{
    object-fit: cover !important;
  }

  .productList{
    
  }

  .productItem{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .productInfo{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .productPrice{
    margin-top: 3rem;
  }

  .sectionHeader{
    /* text-decoration: underline; */
    /* border-bottom: 1px solid gray; */
  }