.orderDetails {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.title {
  text-align: center;
  color: #333;
}

.summary {
  margin-bottom: 20px;
}

.productsTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
}

.products {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.productDetails {
  flex-grow: 1;
}

.productTitle {
  margin: 0;
  font-size: 1.2em;
  color: #222;
}