

.prodImg{
  width: 100vw;
  height: 100%;
  object-fit: cover !important;
}

.prodDiv{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px);
}

.prodText{
  position: absolute;
  bottom: 25%;
  /* left: 50%; */
  color: white;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopbtn{
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: max-content;
  color: white;
  cursor: pointer;
}