.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    color: gray;
}

.footerTop{
    display: flex;
    width: 100%;
}

.footerHead{
    color: rgb(45, 45, 45);
}

.footerbottom{
    width: 90%;
    border-top: 1px solid rgb(146, 146, 146);
    text-align: center;
    padding: 10px;
}

.sec1, .sec2, .sec3{
    flex: 1;
    padding: 3rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.footerDesc{
    width: 80%;
    line-height: 25px;
}



.sec1 > ul{
    display: flex;
    margin-top: 10px;
}

.sec1 > ul > li{
    margin-right: 1rem;
}

.sec2 > ul > li{
    margin-top: 10px;
}
.sec3 > ul > li{
    margin-top: 10px;
}

.sec1 > ul > li, .footerDesc{
    margin-top: 10px;
}

.sec3 > ul > li:hover, .sec2 > ul > li :hover{
    color: rgb(63, 63, 63);
}


@media only screen and (max-width: 700px){
    .footerTop{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}