/* style.module.css */

.registerPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
  }
  
  .leftSideContainer {
    width: 50%;
    padding: 40px;
    /* background-color: #fff; */
    /* border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .registerHeading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  label {
    font-size: 10px;
    margin-bottom: 10px;
    color: #ff0000;
    /* margin-top: 0px; */
  }
  
  .inputField {
    width: 100%;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom:5px;
    border: 1px solid #868686;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
  }

  .inputField:invalid{
    border: 2px solid red;
  }

  .inputField:valid{
    border: 1px solid #868686;
  }
  
  .inputField:focus {
    border-color: #453c3c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .passDiv{
    display: flex;
    border: 1px solid #868686;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .passInput{
    width: 100%;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    /* margin-bottom:5px; */
    /* border: 1px solid #868686; */
    /* border-radius: 5px; */
    border: none;
    font-size: 16px;
    background-color: transparent;

  }

  .passInput:focus{
    outline: none;
  }

  .passInput:focus {
    outline: none;
  }

  #eye{
    display: block;   
  }

  #eyeSlash{
    display: none;
  }

  .eyeBox{
    margin-right: 10px;
    cursor: pointer;
  }
  
  .submitButton {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0c0c0c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #212121;
  }
  
  .alreadyHaveAccountText {
    font-size: 14px;
    margin-top: 20px;
    color: #666;
  }
  
  .alreadyHaveAccountText a {
    text-decoration: none;
    color: #0c0c0c;
  }
  
  .alreadyHaveAccountText a:hover {
    color: #202020;
  }
  
  .rightSideContainer {
    width: 60%;
    padding: 40px;
  }
  
  .registerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Animations */
  
  .leftSideContainer {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .registerHeading {
    animation: fadeIn 0.5s ease-in-out 0.2s;
  }
  
  .inputField {
    animation: fadeIn 0.5s ease-in-out 0.4s;
  }
  
  .submitButton {
    animation: fadeIn 0.5s ease-in-out 0.6s;
  }
  
  .alreadyHaveAccountText {
    animation: fadeIn 0.5s ease-in-out 0.8s;
  }
  
  .rightSideContainer {
    animation: fadeIn 0.5s ease-in-out 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }

  }

  .names{
    display: flex;
    /* padding: 0px 10px; */
    justify-content: space-between;
  }


  @media only screen and (max-width: 1000px){
    
    .rightSideContainer{
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      object-fit: cover;
    }

    .leftSideContainer {
      position: absolute;
      z-index: 10;
      background-color: rgb(255, 255, 255);
      width: 100%;
    }
  }