.aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 15px;
    margin: 3rem 0rem;
}

.aboutusImg{
    width: 100vw;
    object-fit: cover;
    margin-bottom: 3rem;
}

.aboutusDiv{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutusDiv > h4{
    margin-bottom: 2rem;
    text-align: center;
}
.aboutusDiv > h3{
    margin-bottom: 2rem;
    text-align: center;
}
.aboutusDiv > p{
    margin-bottom: 4rem;
    line-height: 35px;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .aboutusDiv{
        width: 90%;
    }

}
