.singleproduct{
    /* height: calc(100vh - 65px); */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* font-size: 40px; */
}

.top{
    width: 100vw;
    height: calc(100vh-65px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* overflow: hidden; */
}

.left{
    flex: 1;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; */
    /* z-index: 999; */
    /* width: 100%; */
    /* height: 100%; */
    width: 50vw;
    height: calc(100vh);
    /* overflow-y: hidden;
    scrollbar-width: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
    /* background-color: aqua; */
}

.leftCover{
    /* width: 80%;
    height: 35vw; */
    width: 100%;
    height: 100%;
    overflow-y:scroll;
}

/* .leftCover{
    scrollbar-width:thin;
    scrollbar-color: #7e7e7e #DFE9EB;
} */

  .leftCover::-webkit-scrollbar-button {
    height: 0;
    width: 0
 }


 .leftCover::-webkit-scrollbar {
    height: 10px;
    width: 5px;
  }
  .leftCover::-webkit-scrollbar-track {
    /* border-radius: 5px; */
    background-color: #DFE9EB;
  }
  
  .leftCover::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  .leftCover::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  .leftCover::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    background-color: #a7a7a7;
  }
  
  .leftCover::-webkit-scrollbar-thumb:hover {
    background-color: #a7a7a7;
  }
  
  .leftCover::-webkit-scrollbar-thumb:active {
    background-color: #a7a7a7;
  }





.right{
    flex: 1;
    display: flex;
    /* /* align-items: center; */
    justify-content: center; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 100px 70px;
}

.rightcontainer{
    position: static;
    top: 0px;
    background-color: red;
}

.leftImg{
    width: 100% !important;
    /* height: 35rem; */
    object-fit: contain !important;
}
.rightImg{
    width: 100% !important;
    object-fit: cover !important;
    
}

.mid{
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid black;
}

.cartBtn{
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 10px;
}



.imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imageContainer {
    margin: 10px;
  }
  
  .image {
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease-in-out;
  }
  
  .hoveredImage {
    transform: scale(1.5);
    z-index: 1;
  }

  .buttonsclr{
    width: 50%;
    display: flex;
    /* background-color: aqua; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    float: left;
    /* padding-right: 30px; */
  }

  .buttonsclr > label{
    display: flex;
    flex-direction: column;
  }

.buttons > input{
    margin-right: 30px;
    margin-top: 100px;
}

.buttonssize{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qty{
    padding: 8px;
    /* border-radius: 6px; */
    border: 1px solid gray;
    outline: none;
    margin-bottom: 50px;
    background-color: transparent;
    width: 100px;
}

.qtyLabel{
  font-size: 20px;
}

.cartBtn{
    font-size: 20px;
    padding: 13px 0px;
    border: none;
    outline: none;
}

.righthead{
    margin-bottom: 5px;
}

.rightprice{
    margin-bottom: 40px;
    font-size: 26px;
  margin-top: 20px;
  color: rgb(77, 77, 77);
}

.colourName{
    margin-bottom: 5px;
}

.buttonsclr{
    margin-bottom: 20px;
}

.sizeName{
    margin-bottom: 5px;
    color: rgb(135, 135, 135);
}

.buttonsize{
    margin-bottom: 20px;
    height: 50px;
    background-color: transparent;
    font-size: 23px;
    padding-left: 10px;
    display: block;
}

@media only screen and (max-width: 1700px){
    .left{
        /* display: flex; */
        /* height: 80vh; */
        /* overflow-x: scroll; */
        /* scrollbar-width: none; */
        width: 100vw;
        /* flex: 2; */
    }

    .leftCover{
      height: 60vh;
      display: flex;
      margin: 0px;
      
      overflow-x:scroll;
      overflow-y:hidden;
      /* margin-top: 30rem; */
    }

    .leftImg{
      width: 50vw;
    object-fit: cover !important;
    }

    /* .leftImg{
        height: 60vh;
        width: 100vw;
    } */

    .top{
        display: flex;
        height: 100%;
        flex-direction: column;
        /* height: 80vh; */
        /* margin-top: 18rem; */
    }

    /* .leftImg{
        height: 50%;
    } */

    .right{
      padding: 20px;
      /* height: 70vh; */
    }

    .righthead{
      font-size: 20px;
    }

    .rightprice{
      font-size: 17px;
      margin-bottom: 10px;
    }

    .qtyLabel{
      font-size: 15px;
      margin-bottom: 0px;
    }

    .sizeName{
      font-size: 16px;
    }

    .buttonsize{
      width: 100%;
      font-size: large;
      height: 40px;
      display: block;
  }

  .cartBtn{
    font-size: 15px;
  }
  
}

@media only screen and (max-width: 1700px){

}